@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins';
}

body{
    background: linear-gradient(180deg, #8F9AFF 0%, #C78FFF 100%);
    width: 100vw;
    height: 100vh;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    gap: 15px;
}

#kanan{
    display: flex;
    flex-direction: column;
    width: 520px;
}

#kanan > h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    color: white;
}

#kanan > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;


    color: #FFFFFF;
}

#kiri{
    background: #FFFFFF;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 345px;
    height: 395px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.atas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 270px;
    justify-content: center;
    align-items: center;
}

input[type=text]{
    background: #FFFFFF;
    border: 2px solid #0500FF;
    width: 95%;
    height: 30px;
    outline: none;
}

input[type=password]{
    background: #FFFFFF;
    border: 2px solid #0500FF;
    width: 95%;
    height: 30px;
    outline: none;
}

.check{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.38);
}

.bawah{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 10px 15px 10px;
    gap: 10px;
}

input[type=submit]{
    background: #9483FF;
    border: 2px solid #0500FF;
    border-radius: 13px;
    width: 130px;
    height: 35px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.kiri_bawah a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: rgba(0, 0, 0, 0.38);
}

.kiri_bawah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 90%;
}

.kiri_bawah > span{
    border: 1px solid #A3A3A3;
    width: 80%;
}

.btn{
    background: #50D765;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn a{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    align-items: center;
}